:root {
    --form-font-size: 18px;
}

body {
    font: 18px/1.4 sans-serif;
    margin: 0;
    padding: 0;
}

.timer {
    max-width: 800px;
    margin: auto;
    height: 100vh;
}
.wrapper {
    margin: auto;
}

.wrapper.paused::after {
    z-index: 1;
    content: "॥ Paused";
    position: absolute;
    width: 100%;
    top: 0;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
    background: yellow;
}

.wrapper.paused .phase {
    animation: paused-blink 1s infinite;
}

@keyframes paused-blink {
    0% {
        /* background-color: inherit; */
    }
    50% {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4AWNhaAAAAI8AhXFH0h4AAAAASUVORK5CYII=);
    }
    100% {
        /* background-color: inherit; */
    }
}

h2 {
    margin: 0;
}

.countdown {
    font-size: 7em;
    text-align: center;
    font-weight: bold;
    line-height: 80vh;
    height: 100vh;
}

.countdown_tick {
    animation: countdown-blink 1s infinite;
}

.countdown_go {
    background: yellow;
}

@keyframes countdown-blink {
    0% {
        background-color: yellow;
    }
    10% {
        background-color: yellow;
    }
    100% {
        background-color: white;
    }
}

.phase {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 2em;
}

.phase_work {
    background-color: red;
    color: #FFF;
}

.phase_rest, .phase_round-rest {
    background-color: green;
    color: #FFF;
}

label {
    display: inline-block;
    font-size: var(--form-font-size);
    vertical-align: middle;
}

section .row {
    padding: 1em 2em;
}

section.phases label {
    min-width: 2.7em;
}

section.exercises {
    background: #DDD;
}

section.repeats {
    background: #EEE;
}

.row label {
    font-weight: bold;
}

.row select {
    font-size: 1.2em;
    font-weight: bold;
    min-width: 5em;
}

.row_go {
    padding: 2em;
}

.row_work {
    background: red;
    color: #FFF;
}

.row_rest {
    background: green;
    color: #FFF;
}

.row_round label {
    min-width: 4.3em;
}

.row_round .row__inner {
    margin-bottom: .5em;
}

.row_btn {
    border-bottom: none;
}

.row_pause {
    margin: 2em 0 1em;
    text-align: left;
}

.btn {
    font-size: 2em;
    cursor: pointer;
    background: #FFF;
    box-shadow: 2px 2px 0 black;
}

.btn_go {
    border: 3px solid #000;
    color: black;
    width: 100%;
    border-radius: 5px;
}

.btn_go:hover {
    background: yellow;
}

.btn_ok {
    border: 3px solid #999;
    color: #999;
    border-radius: 5px;
    background: none;
    box-shadow: 2px 2px 0 #999;
}

.btn_pause, .btn_continue {
    border: 3px solid #FFF;
    color: #FFF;
    box-shadow: 2px 2px 0 #FFF;
    border-radius: 5px;
    background: none;
}

.btn_pause::before {
    content: "॥";
    position: absolute;
    margin: -.15em 0 0 -.85em;
}

.btn_continue {
    color: yellow;
    border-color: yellow;
    box-shadow: 2px 2px 0 yellow;
}

select {
    display: inline-block;
    color: black;
    margin: 0 .5em;
    vertical-align: middle;
    font-size: var(--form-font-size);
    min-width: 3em;
}

button {
    font-weight: bold;
    font-size: var(--form-font-size);
    min-width: 200px;
    padding: 20px 20px;
    background: lightgrey;
}

.final {
    text-align: center;
}

.final-image img {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 100%;
}

.phase-title {
    font-size: 3em;
}

.exercise {
    margin: 1em 0 0;
    padding: 0;
    font-size: 2em;
    font-weight: bold;
}

.round {
    margin: 0;
    padding: 0;
    font-size: 1.68em;
    font-weight: bold;
}

/* Dots */

.dots {
    margin: 1em 0 0;
    padding: .5em;
    background: #DDD;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
}

.dot {
    display: inline-block;
    height: 7px;
}

.round-scheme {
    display: inline-block;
    margin-right: 5px;
    white-space: nowrap;
    background: #EEE;
}

.dot.work {
    background: red;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.dot.rest {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: green;
}

.circuit-rounds {
    display: inline-block;
    border-radius: 5px;
    padding: 0 .3em .3em .5em;
    background: #EEE;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}

.circuit-with-rest {
    display: inline-block;
    padding-bottom: .5em;
}

.circuit-rest {
    border-radius: 5px;
    display: inline-block;
    margin-left: .5em;
}

.btn_cancel {
    /* font-size: 1em; */
    background: none;
    box-shadow: none;
    border: none;
    color: #FFF;
    padding-left: .7em;
    text-align: left;
    font-weight: normal;
    position: relative;
}

.btn_cancel::before {
    position: absolute;
    left: 0;
    margin: -2px;
    content: "×"
}