:root {
    --form-font-size: 18px;
}

body {
    font: 18px/1.4 sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: auto;
}

h2 {
    margin: 0;
}

.countdown {
    text-align: center;
    font-weight: bold;
    font-size: 4em;
    line-height: 4em;
}

.phase {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 2em;
    border: 2px solid gray;
}

.phase_work {
    border-color: red;
    background-color: red;
    color: #FFF;
}

.phase_rest {
    background-color: green;
    color: #FFF;
}

label {
    display: inline-block;
    font-size: var(--form-font-size);
    vertical-align: middle;
}

section {
    text-align: center;
}

section.phases {
    padding-top: 2em;
}

section.rounds {
    background: #EEE;
    padding-bottom: 2em;
    margin-bottom: 1em;
}

section.repeats {
    padding: 0 0 2em;
    background: #DDD;
}

section.phases div {
    display: inline-block;
}

section.rounds>.row, section.repeats>.row {
    padding-top: 1em;
}

.row {
    padding: .5em 0;
}

.row label {
    font-weight: bold;
}

.row select {
    font-size: 1.2em;
    font-weight: bold;
}

.row_work {
    color: red;
}

.row_work select {
    color: red
}

.row_rest {
    color: green;
}

.row_rest select {
    color: green;
}

.row_repeat div {
    margin-bottom: .5em;
}

.row_btn {
    padding-top: 2em;
    text-align: center;
    border-bottom: none;
}

.row_pause {
    text-align: left;
}

.btn {
    font-size: 2em;
}

.btn_go {
    border: 3px solid #000;
    border-radius: 5px;
    background: none;
}

.btn_pause {
    border: 3px solid #FFF;
    color: #FFF;
    border-radius: 5px;
    background: none;
}

select {
    display: inline-block;
    margin: 0 .5em;
    vertical-align: middle;
    font-size: var(--form-font-size);
    min-width: 3em;
}

button {
    font-weight: bold;
    font-size: var(--form-font-size);
    min-width: 200px;
    padding: 20px 20px;
    background: lightgrey;
}

.final {
    text-align: center;
}

.final-image img {
    max-width: 100%;
    animation: swing .7s infinite;
}

@keyframes swing {
    0% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

.phase-title {
    font-size: 3em;
}

.round {
    font-size: 2em;
    font-weight: bold;
}

.circuit {
    font-size: 1.68em;
    font-weight: bold;
}

/* Dots */

.dots {
    margin: 1em 0 0;
    padding: .5em;
    background: #DDD;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
}

.dot {
    display: inline-block;
    height: 7px;
}

.round-scheme {
    display: inline-block;
    margin-right: 5px;
    white-space: nowrap;
    background: #EEE;
}

.dot.work {
    background: red;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.dot.rest {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: green;
}

.circuit-rounds {
    display: inline-block;
    border-radius: 5px;
    padding: 0 .3em .3em .5em;
    background: #EEE;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}

.circuit-with-rest {
    display: inline-block;
    padding-bottom: .5em;
}

.circuit-rest {
    border-radius: 5px;
    display: inline-block;
    margin-left: .5em;
}